# dependencies
node_modules/

# env
**/.env

# builds
client/dist/
server/dist/

# local database + uploads/downloads
server/storage/db.sqlite
server/storage/db.sqlite-*
server/storage/*.sqlite
server/storage/*.sqlite-*
server/storage/uploads/
server/storage/downloads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
